@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div>pac</div>

<span>pac</span>
<span>may</span>
<a>may</a>
<a>sd</a>

<p>may</p>

<<<<<<< HEAD
<h1>may</h1>
=======
<h1>pac</h1>
<h2>sdfdsf</h2>
<h3>test head</h3>
<h2>may</h2>

<h3>pacquio changes</h3>

<h4>May changes</h4>

<h5>may changes</h5>
<div>may last</div>
<h6>pac changes </h6>
<h1>SampleChanges to Comit</h1>

<h3>may changes</h3>
<p>pac changes</p>