@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<div>pac</div>
<a>May</a>

<p>may</p>

<h1>pac</h1>
<h2>dfdsf</h2>
<h3>pacquio changes</h3>

<h4>pac changes</h4>
<h4>May changes</h4>

<h5>may changes</h5>
<h5>pac changes</h5>
sdfsdfsdfsddfgdfgdf

<h6>pac changes </h6>